{% extends 'front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container text-center my-5">
        <h1 class="display-4 text-success">Merci pour votre générosité !</h1>
        <p class="lead">Votre don a été traité avec succès.</p>
        <a href="{{ path('app_crud_dons_add') }}" class="btn btn-primary mt-3">Faire un autre don</a>
    </div>
{% endblock %}
